results
datasets

# mac
.DS_Store

# environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# jupyter notebook
.ipynb_checkpoints

# packaging
.Python
.idea/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# byte-compiled
__pycache__/
*.py[cod]
*$py.class

# other
.vscode
PerioStudy_Complete Plates 1-13_011717 (Clone) - Gated Populations/
perio_data_sherlock2/
yaml/
create_data_cellot/
sherlock_training_data/
doms_concatenated/
DOMS_Helios_012025 - Gated Populations/
unstim_perio/
surge_prehab_controls - Gated Populations/
surge_concatenated/
combat_batch/
surge_corrected/
doms_corrected/
